#home {
  h1 {
    text-align: center;
  }

  canvas {
  	height: 100px;
  	width: 700px;
  	background-color: $primary-color;
  	border-color: $secondary-color;
  }

  .btn {
  	border-color: $secondary-color;
  	background-color: $primary-color;
  	color: $secondary-color;
  }
  
}

