#home {
  h1 {
    text-align: center;
  }

  canvas {
  	height: 100px;
  	width: 700px;
  	background-color: #fff;
  	border-color: #eee;
  }

  .btn {
  	border-color: white;
  	background-color: black;
  	color: white;
  }
  
}

