.keyboard {
	width: 100%;

	.control-panel {
		border: 2px solid white;
		border-radius: 3px; 
		background-color: black; 

		.off {
			opacity: 0.5;
		}

		& > * {
			padding: 5px;
			margin: 5px;
		}

	}

}

.keyTainer {
	display: block;
	width: 100%;

	@include clearfix;

	& > * {
		display: block;
		float: left;
	}

	.key {
		border: 1px solid white;
		border-radius: 5px;
		height: 8vh;
		background-color: black;
		margin-top: 5px;
		
		&:hover {
			background-color: white;
		}
		
	}

	.gong {
		display: inline;
		border: 2px solid white;
		border-radius: 100%;
		height: 8vh;
		background-color: black;
		
		&:hover {
			background-color: white;
		}
		
	}

	.active {
		background-color: white;
	}
}