navbar {

  navbar-header{
    display: inline;
  }

  display: block;
  background: white;
  border-bottom: 1px solid black;
  box-shadow: 1px 1px 14px -3px black;

  .container {
    width: 1340px;
    padding-top: 20px;
  }

  logo {
    margin: 0 auto;
  }

  h2 {
    display: inline;
  }

}
