.keyTainer {
	display: inline-block;

	.touchKey {
		margin-left: 0.5%;
		margin-right: 0.5%;
		border: 1px solid black;
		border-radius: 3px;
		height: 20vh;
		background-color: gainsboro;
		
		&:hover {
			background-color: #9a9a9a;
		}
		
		.on {
			background-color: #9a9a9a;
		}
	}
}
