<div class="keyboard" id="{{instrumentType}}">
	<div class="control-panel">
		<button ng-show="isOn" ng-click="toggleOn()" class="btn btn-success">ON</button>
		<button ng-show="!isOn" ng-click="toggleOn()" class="btn btn-danger">OFF</button>
		Instrument Type: <select ng-model="instrumentType" ng-change="changeInstrument(instrumentType)">
			<option ng-repeat="inst in instrumentTypes">{{inst}}</option>
		</select>
		Tuning: {{tuning}}
		Filter: {{filter}}
		Octave: <select ng-model="octave">
			<option ng-repeat="oct in octaves">{{oct}}</option>
		</select>
		Tone: <select ng-model="tone">
			<option ng-repeat="osc in oscTypes">{{osc}}</option>
		</select>
		Duration: <select ng-model="duration">
			<option ng-repeat="dur in durations">{{dur}}</option>
		</select>
		Attack: <select ng-model="attack">
			<option ng-repeat="att in attackTypes">{{att}}</option>
		</select>
	</div>
	<div class="keyTainer">
		<div class="{{key}}" id="{{$index + 1}}" ng-class="{ active: iscurrentKey($index + 1) }" style="width:{{width}}%" ng-repeat="thing in _.range(0, numKeys)"></div>
	</div>
</div>