* {
  box-sizing: border-box;
}

body {
  background: #6600CC;
  color: #CCCC00;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 60px;
  width: 1200px;
  margin: 0 auto;
}

@import 'utils';
@import 'directives/_main';
@import 'home/main';